<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>BUFFET GONÇALVES</title>
</head>
<body>
    <div>
      <h1><a href="/">Buffet Gonçalves</a> </h1>
    </div>

    <div>
      <p>publicado 19.02.2022, 14:14</p>
      <h2><a href="/">Meu primeiro Post</a> </h2>
      <p>Para se fazer uma boa festa, devemos sempre planejar com antecedência, dividir a festa em partes, acolhimento,
      entrada, bebidas, prato principal, sobremesa, músicas, etc. </p>
    </div>

    <div>
        <p>publicado 18.02.2022, 15:00</p>
        <h2><a href="">Meu segundo Post</a></h2>
        <p>Pesquise sempre os profissionais que forem ser contratados, marque visita, degustação, faça contratos
        registrados em cartório de preferencia...</p>
    </div>


</body>
</html>